-r requirements.txt
black == 22.12.0
faker == 33.1.0
faker-file>=0.5.0
flake8 == 5.0.4
hatch
isort == 5.10.1
memray == 1.6.0; platform_system != "Windows" and sys_platform != "darwin" and platform_machine != "arm64" and platform_machine != "aarch64"
moto == 4.1.12
Pillow == 11.0.0
pre-commit == 2.20.0
pytest == 7.2.0
pytest-benchmark == 4.0.0
pytest-cov == 4.0.0
pytest-mock == 3.14.0
requests-mock == 1.11.0
sphinx == 7.2.6
tabulate == 0.9.0
