name: CI
on:
    pull_request:
        types:
            - opened
            - edited
            - synchronize
            - reopened
        branches: [main, phash_main]
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v3
            - name: Set up Python 3.9
              uses: actions/setup-python@v4
              with:
                  python-version: 3.9
            - name: Linting
              run: |
                  python -m pip install --upgrade pip
                  if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
                  pre-commit run --all-files
    build-n-test:
        name: Build and test
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.9", "3.10"]
        timeout-minutes: 20
        steps:
            - name: "checkout repository"
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Set up Python ${{ matrix.python-version }} (minimum supported python version for deltaCAT is 3.9)
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install pypa/build
              run: >-
                  python -m
                  pip install
                  build
                  --user
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  if [ -f benchmark-requirements.txt ]; then pip install -r benchmark-requirements.txt; fi
            - name: Run unit tests + benchmarks
              run: >-
                  python -m pytest -m "not integration" --benchmark-json output.json
            # Download previous benchmark result from cache (if exists)
            - name: Download previous benchmark data
              uses: actions/cache@v1
              with:
                  path: ./cache
                  key: ${{ runner.os }}-benchmark
            - name: Store benchmark results
              uses: benchmark-action/github-action-benchmark@v1
              with:
                  tool: "pytest"
                  output-file-path: output.json
                  auto-push: false
                  github-token: ${{ secrets.GITHUB_TOKEN }}

                  # Where the previous data file is stored
                  external-data-json-path: ./cache/benchmark-data.json

                  # Enable Job Summary for PRs
                  summary-always: true

                  # Enable alert commit comment
                  #
                  # By default, this action marks the result as performance regression
                  # when it is worse than the previous exceeding 200% threshold.
                  comment-on-alert: true
